/* Roobert Semi Mono Font Family */
@font-face {
    font-family: "Roobert Semi Mono";
    src: url("/fonts/RoobertSemiMonoTRIAL-Light-BF67243fd53fc7c.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roobert Semi Mono";
    src: url("/fonts/RoobertSemiMonoTRIAL-LightItalic-BF67243fd53a243.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roobert Semi Mono";
    src: url("/fonts/RoobertSemiMonoTRIAL-Regular-BF67243fd53ad6a.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roobert Semi Mono";
    src: url("/fonts/RoobertSemiMonoTRIAL-RegularItalic-BF67243fd53afce.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roobert Semi Mono";
    src: url("/fonts/RoobertSemiMonoTRIAL-Medium-BF67243fd524e58.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roobert Semi Mono";
    src: url("/fonts/RoobertSemiMonoTRIAL-MediumItalic-BF67243fd527dda.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roobert Semi Mono";
    src: url("/fonts/RoobertSemiMonoTRIAL-SemiBold-BF67243fd539b9e.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roobert Semi Mono";
    src: url("/fonts/RoobertSemiMonoTRIAL-SemiBoldItalic-BF67243fd53e269.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roobert Semi Mono";
    src: url("/fonts/RoobertSemiMonoTRIAL-Bold-BF67243fd539cff.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roobert Semi Mono";
    src: url("/fonts/RoobertSemiMonoTRIAL-BoldItalic-BF67243fd53f821.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roobert Semi Mono";
    src: url("/fonts/RoobertSemiMonoTRIAL-Heavy-BF67243fd53d89c.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roobert Semi Mono";
    src: url("/fonts/RoobertSemiMonoTRIAL-HeavyItalic-BF67243fd540151.otf") format("opentype");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

/* Cabinet Grotesk Font Family */
@font-face {
    font-family: "Cabinet Grotesk";
    src:
        url("/fonts/CabinetGrotesk-Thin.woff2") format("woff2"),
        url("/fonts/CabinetGrotesk-Thin.woff") format("woff"),
        url("/fonts/CabinetGrotesk-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cabinet Grotesk";
    src:
        url("/fonts/CabinetGrotesk-ExtraLight.woff2") format("woff2"),
        url("/fonts/CabinetGrotesk-ExtraLight.woff") format("woff"),
        url("/fonts/CabinetGrotesk-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cabinet Grotesk";
    src:
        url("/fonts/CabinetGrotesk-Light.woff2") format("woff2"),
        url("/fonts/CabinetGrotesk-Light.woff") format("woff"),
        url("/fonts/CabinetGrotesk-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cabinet Grotesk";
    src:
        url("/fonts/CabinetGrotesk-Regular.woff2") format("woff2"),
        url("/fonts/CabinetGrotesk-Regular.woff") format("woff"),
        url("/fonts/CabinetGrotesk-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cabinet Grotesk";
    src:
        url("/fonts/CabinetGrotesk-Medium.woff2") format("woff2"),
        url("/fonts/CabinetGrotesk-Medium.woff") format("woff"),
        url("/fonts/CabinetGrotesk-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cabinet Grotesk";
    src:
        url("/fonts/CabinetGrotesk-Semibold.woff2") format("woff2"),
        url("/fonts/CabinetGrotesk-Semibold.woff") format("woff"),
        url("/fonts/CabinetGrotesk-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cabinet Grotesk";
    src:
        url("/fonts/CabinetGrotesk-Bold.woff2") format("woff2"),
        url("/fonts/CabinetGrotesk-Bold.woff") format("woff"),
        url("/fonts/CabinetGrotesk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cabinet Grotesk";
    src: url("/fonts/CabinetGrotesk-Extrabold.otf") format("opentype"),
        url("/fonts/CabinetGrotesk-Extrabold.woff2") format("woff2"),
        url("/fonts/CabinetGrotesk-Extrabold.woff") format("woff"),
        url("/fonts/CabinetGrotesk-Extrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cabinet Grotesk";
    src:
        url("/fonts/CabinetGrotesk-Black.woff2") format("woff2"),
        url("/fonts/CabinetGrotesk-Black.woff") format("woff"),
        url("/fonts/CabinetGrotesk-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Satoshi Font Family */
@font-face {
    font-family: "Satoshi";
    src:
        url("/fonts/Satoshi-Light.woff2") format("woff2"),
        url("/fonts/Satoshi-Light.woff") format("woff"),
        url("/fonts/Satoshi-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src:
        url("/fonts/Satoshi-Regular.woff2") format("woff2"),
        url("/fonts/Satoshi-Regular.woff") format("woff"),
        url("/fonts/Satoshi-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src:
        url("/fonts/Satoshi-Medium.woff2") format("woff2"),
        url("/fonts/Satoshi-Medium.woff") format("woff"),
        url("/fonts/Satoshi-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src:
        url("/fonts/Satoshi-Bold.woff2") format("woff2"),
        url("/fonts/Satoshi-Bold.woff") format("woff"),
        url("/fonts/Satoshi-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src:
        url("/fonts/Satoshi-Black.woff2") format("woff2"),
        url("/fonts/Satoshi-Black.woff") format("woff"),
        url("/fonts/Satoshi-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Utility classes for different font weights */
.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-heavy {
    font-weight: 800;
}